<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>WonderLust - Social Media with a Twist</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" media="all">
  {{!-- <link rel="stylesheet" href="assets/css/style.css"> --}}
  <link rel="stylesheet" href="assets/css/responsive.css" media="all">
  <link rel="icon" href="assets/images/fevicon.png" type="image/gif" />
  <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css" media="all">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" media="all">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
    media="screen">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">WanderLust</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js" async></script>
  {{/if}}
      <script src="assets/js/jquery.min.js" async></script>
      <script src="assets/js/popper.min.js" async></script>
      <script src="assets/js/bootstrap.bundle.min.js" async></script>
      <script src="assets/js/jquery-3.0.0.min.js" async></script>
      <script src="assets/js/plugin.js" async></script>
      <script src="assets/js/jquery.mCustomScrollbar.concat.min.js" async></script>
      <script src="assets/js/custom.js" async></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" async></script>
</body>

</html>