<section>
  <h2>Create New Post</h2>
 
 <form method="POST" action="/dashboard" enctype="multipart/form-data">
      <input type="file" name="file" />
      <br>
      <input type="submit" value="Enter"/>
    </form>
    <br>


 {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul class="post-list">
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
      </div>
      <div class="meta">
        <img src= "{{post_url}}" height="200px", length="200px"/>
      </div>
    </article>
  </li>
  {{/each}}
</ul>
</section>
{{/if}}
</section>

<script src="/javascript/add-post.js"></script>