

{{!-- for commits --}}
<section>
  <h2>Create New Post</h2>

  <form class="new-post-form" method="POST" action="/dashboard" enctype="multipart/form-data"></form>>
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <div>
       <input type="file" name="file" />
       </div>
      <br>
      <div>
      <input type="submit" value="Enter"/>
      </div>
    </form>
    <br>
    </div>
    <button type="submit" class="btn">Create</button>
    
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul class="post-list"></ul>
  <ol>
    {{#each posts as |post|}}
     <li>
    <article class="post">
      <div class="title">
      </div>
      <div class="meta">
        <img src= "{{post_url}}" height="200px", length="200px"/>
      </div>
    </article>
  </li>
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
  </ul>
</section>
{{/if}}
</section>

<h2>Submit your Image</h2>
{{!-- for photos --}}

 {{!-- <form method="POST" action="/dashboard" enctype="multipart/form-data">
      <input type="file" name="file" />
      <br>
      <input type="submit" value="Enter"/>
    </form>
    <br> --}}

     <form class="new-post-form" method="POST" action="/dashboard" enctype="multipart/form-data"></form>>
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <div>
       <input type="file" name="file" />
       </div>
      <br>
      <div>
      <input type="submit" value="Enter"/>
      </div>
    </form>
    <br>
    </div>
    <button type="submit" class="btn">Create</button>

